.menu {
  display: flex;
  flex-wrap: wrap;
  padding-right: 360px;
}

.menu-item {
  width: 200px;
  height: 160px;
  background: #fff;
  border-radius: 6px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.02);
  transition: background 0.2s ease;
  color: #716c67;
}

.menu-item:hover {
  background: #ececec;
}

.menu-item:active {
  background: #d1e8d4;
}

.menu-item-title {
  border-bottom: 1px solid #00000014;
}
